@import "tailwindcss";

@theme {
  --color-primary: #1A237E;
  --color-secondary: #FFF;
  --color-tertiary: #FFC107;
}

/* Custom class for consolidation on portfolio page */
@layer components {
  .tools {
    @apply 
      px-3 
      py-1 
      inline-block 
      text-primary
      bg-tertiary
      border-primary
      rounded-lg 
      text-xs 
      font-bold 
      shadow-lg 
      hover:shadow-xl 
      transform hover:scale-105 transition-all 
      border;
  }
}

/* Taos Animations Configuration */
@custom-variant taos (&.taos-init:where(:not(.taos-animate)));

html.js :where([class*="taos:"]:not(.taos-init)) {
  visibility: hidden;
}

@source inline('!duration-[-1ms] !delay-[0ms]');